{% load tags %}
<div class="row mb-2">
    <div class="col-md-6">
        <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
                <small class="text-muted">👁 {{ blog.count_of_view }}</small>
                <h5 class="mb-0">
                    <a class="text-dark">{{ blog.title }}</a>
                </h5>
                <div class="mb-1 text-muted">{{ blog.create_date }}</div>
                <p class="card-text mb-auto">{{ blog.content | truncatechars:100 }}</p>
                <a href="{% url 'blog:blog_detail' blog.slug %}">Подробнее</a>
                {% if user.is_authenticated %}
                    <a href="{% url 'blog:blog_update' blog.pk %}" class="btn btn-secondary my-3"
                       style="background: green">Изменить</a>
                {% endif %}
            </div>
            <img class="card-img-right flex-auto d-none d-md-block" src={% mediapath blog.image %} width="250"
                 height="200">
        </div>
    </div>
</div>