<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4" align="center">Skystore</h1>
    <p class="lead" align="center">Skystore - найдется все для дома!</p>
</div>
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">У нас самые выгодные цены!</h1>
        <a href="{% url 'catalog:catalog' %}" class="btn btn-primary my-3" style="background: #0062cc">Перейти к покупкам</a>
        <a href="{% url 'blog:home' %}" class="btn btn-secondary my-3" style="background: #0062cc">Главная</a>
        <a href="{% url 'catalog:contacts' %}" class="btn btn-secondary my-3" style="background: #0062cc">Обратная связь</a>
        <a href="{% url 'catalog:save_product' %}" class="btn btn-secondary my-3" style="background: #0062cc">Для сотрудников</a>
    </div>
</section>
<div class="pricing-header px-3 py-3 pt-md-0 pb-md-3 mx-auto text-center">
    <h1 class="display-4">{{ title }}</h1>
</div>