{% extends 'catalog/base.html' %}
{##}
{#{% block content %}#}
{##}
{#{% if validlink %}#}
{##}
{#<p>!</p>#}
{##}
{#<form method="post">{% csrf_token %}#}
{#<fieldset class="module aligned">#}
{#    <input class="hidden" autocomplete="username" value="{{ form.user.get_username }}">#}
{#    <div class="form-row field-password1">#}
{#        {{ form.new_password1.errors }}#}
{#        <label for="id_new_password1">Новый пароль</label>#}
{#        {{ form.new_password1 }}#}
{#    </div>#}
{#    <div class="form-row field-password2">#}
{#        {{ form.new_password2.errors }}#}
{#        <label for="id_new_password2">Повторите пароль</label>#}
{#        {{ form.new_password2 }}#}
{#    </div>#}
{#    <input type="submit">Изменить#}
{#</fieldset>#}
{#</form>#}
{##}
{#{% else %}#}
{##}
{##}
{#{% endif %}#}
{##}
{#{% endblock %}#}
{#{% extends "base.html" %}#}

{#{% block title %}Reset your password{% endblock %}#}

{% block content %}
    <h1>Reset your password</h1>
    {% if validlink %}
        <p>Please enter your new password twice:</p>
        <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Change my password"/></p>
        </form>
    {% else %}
        <p>The password reset link was invalid, possibly because it has
            already been used. Please request a new password reset.</p>
    {% endif %}
{% endblock %}