{% extends 'catalog/base.html' %}

{% block content %}
{% csrf_token %}
<form class="obratnuj-zvonok" autocomplete="off" method='post'>
    {% csrf_token %}
    <div class="form-zvonok">
        <div>
            <label>Имя <span>*</span></label>
            <input type="text" name="name" class="form-control" id="name" placeholder="Название товара"
                   required></div>
        <div>
            <label>Описание товара<span>*</span></label>
            <input type="text" name="description" class="form-control" id="description" placeholder="Описание"
                   required></div>
        <div>
            <label>Изображение<span>*</span></label>
            <input type="text" name="image" class="form-control" id="image"
                   placeholder="Ссылка"></div>
        <div>
            <label>Категория<span>*</span></label>
            <input type="text" name="category" class="form-control" id="category"
                   placeholder="Категория"
                   required></div>
        <div>
            <label>Цена за покупку<span>*</span></label>
            <input type="text" name="price" class="form-control" id="price"
                   placeholder="Цена за покупку"
                   required></div>
        <div>
            <label>Дата создания<span>*</span></label>
            <input type="text" name="created_date" class="form-control" id="created_date"
                   placeholder="Дата создания"
                   required></div>
        <div>
            <label>Дата последнего изменения<span>*</span></label>
            <input type="text" name="changed_date" class="form-control" id="changed_date"
                   placeholder="Дата последнего изменения"
                   required></div>
        <button type="submit" class="btn btn-lg btn-block btn-outline-primary">Оставить заявку</button>
    </div>
</form>
{% endblock %}